@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.custom-shape-divider-top-1624788556 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1624788556 svg {
  position: relative;
  display: block;
  width: calc(120% + 1.3px);
  height: 101px;
}

.custom-shape-divider-top-1624788556 .shape-fill {
  fill: #ffffff;
  opacity: 70%;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}

.carousel-item {
  max-width: 100%;
  max-height: 100vh;
}

#welcome {
  position: absolute;
  top: 25%;
  left: 33%;
  color: white;
  letter-spacing: 2em;
  opacity: 0;
  transform: scale(1) translateY(-1em);
  transition: opacity transform;
  transition-duration: 1000000000000s;
  transition-timing-function: ease-out;

  animation: fadeInAnimation ease 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

#info {
  position: absolute;
  top: 87%;
  left: 22%;
  color: white;
  backdrop-filter: blur(0.5px);
  font-weight: 400;
  font-size: 1.7em;
}

#login {
  position: absolute;
  top: 4%;
  left: 87%;
  letter-spacing: 3px;
}

#login:link,
#login:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
}

#login:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#login:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#login-white {
  background-color: #fff;
  color: #777;
}

#login::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

#login-white::after {
  background-color: #fff;
}

#login:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

#login-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

#main {
  margin-left: 2em;
  margin-right: 2em;
}

#para1 {
  text-align: center;
  font-family: "Open Sans", sans sans-serif;
  font-size: 1.5em;
  font-weight: 200;
}

.imgs {
  width: 100%;
  height: auto;
  margin-bottom: 2em;
}

.imgs1 {
  width: 80%;
  height: auto;
  margin-bottom: 2em;
}

#login_info {
  margin-top: 6%;
}

#login1 {
  letter-spacing: 3px;
  margin-left: 34.5%;
  margin-bottom: 2em;
}

#login1:link,
#login1:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
}

#login1:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(250, 250, 250, 0.2);
}

#login1:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(250, 250, 250, 0.2);
}

#login1-white {
  background-color: #fff;
  color: #777;
}

#login1::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

#login1-white::after {
  background-color: #fff;
}

#login1:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

#login1-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

#footer {
  margin-right: 20%;
  margin-left: 20%;
}

.card {
  border-radius: 1.5em;
}

#top {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}

#features {
  font-size: 4em;
  letter-spacing: 0.3em;
  font-family: "Quicksand", sans-serif;
}

.fade1 {
  opacity: 1;
}

#userManual {
  position: absolute;
  top: 4%;
  left: 80%;
}

#userbtn {
  background: none;
}

#english {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

#marathi {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.modal {
  backdrop-filter: blur(2px);
}

#attribution {
  margin-top: 0;
  margin-left: 81%;
}

.details {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.heading {
  font-family: "Vidaloka", serif;
  font-size: 2.2em;
  letter-spacing: 0.15em;
}

#image-2 {
  display: none;
}

#image-4 {
  display: none;
}

/* Media Queries */

@media screen and (max-width: 480px) {
  body {
    width: 100%;
    height: 100%;
  }

  .images {
    width: 100%;
    height: 400px;
  }

  #welcome {
    position: absolute;
    top: 40%;
    left: 12%;
    color: white;
    letter-spacing: 1em;
    opacity: 0;
    transform: scale(1) translateY(-1em);
    transition: opacity transform;
    transition-duration: 1000000000000s;
    transition-timing-function: ease-out;

    animation: fadeInAnimation1 ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }

  #login {
    position: absolute;
    top: 4%;
    left: 60%;
    letter-spacing: 1px;
    font-size: 1.2em;
  }

  #userManual {
    position: absolute;
    top: 4%;
    left: 40%;
  }

  #info {
    position: absolute;
    top: 85%;
    left: 6%;
    color: white;
    backdrop-filter: blur(0.5px);
    font-weight: 300;
    font-size: 0.7em;
  }

  #para1 {
    text-align: center;
    font-family: "Open Sans", sans sans-serif;
    font-size: 1em;
    font-weight: 200;
    margin-bottom: 0;
  }

  #svg {
    opacity: 50%;
  }

  #features {
    margin-top: 0;
    letter-spacing: 0.5em;
    font-size: 2em;
  }

  #login1 {
    margin-left: 15%;
    letter-spacing: 3px;
  }

  #footer {
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 4%;
  }

  #attribution {
    margin-left: auto;
    padding-bottom: 1.2%;
  }

  #login-bottom {
    margin-top: 5em;
  }

  #image2 {
    display: none;
  }

  #image4 {
    display: none;
  }

  #image-2 {
    display: inline;
  }

  #image-4 {
    display: inline;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    transform: scale(1.3) translateY(1em);
    backdrop-filter: blur(0.7px);
    transition: all 2.5s ease-in;
    opacity: 1;
  }
}

@keyframes fadeInAnimation1 {
  0% {
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0.5em);
    backdrop-filter: blur(0.7px);
    transition: all 1.5s ease-in;
    opacity: 1;
  }
}
