@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    background-color: #eff5ff;
}

.card-data {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.7em;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: inherit;
    border: none;
    border-radius: 0;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

#navbarNav {
    margin: 1em;
    font-size: 1.15em;
    justify-content: flex-end;
}

#navbarNav a {
    margin-right: 0.5em;
    padding: 0.5em;
}

#website-name {
    font-size: 1.3em;
    padding-left: 0.7em;
    font-family: Noto Serif, sans-serif;
    font-weight: 500;
    letter-spacing: 0.1em;
}

#logo {
    width: 2.7em;
    height: 2.7em;
}

a {
    text-decoration: none;
}

#top-nav {
    background-color: white;
    box-shadow: 10px 10px 20px rgba(43, 43, 43, 0.1);
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    box-shadow: rgba(0, 0, 0, 0.25) 3px 0px 14px;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #5c6ebb;
    letter-spacing: 0.6em;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #5967a7;
    font-size: 1.5rem;
    text-align: start;
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

#footer {
    font-size: 0.8em;
    background-color: white;
    color: white;
    box-shadow: 10px 10px 20px rgba(43, 43, 43, 0.1);
}

#location {
    font-size: 1.2em;
    font-family: Raleway,sans-serif;
    font-weight: 300;
    border-right: 1px solid black;
}

#contact {
    font-size: 1.2em;
    font-family: Raleway,sans-serif;
    font-weight: 300;
}

#home {
    border-radius: 0.4em;
    color: black;
}

#about-us {
    border-radius: 0.4em;
    color: black;
}

#queries {
    border-radius: 0.4em;
    color: black;
}

#about-us:hover {
    border-radius: 0.4em;
    background-color: #7386D5;
    color: white;
    transform: scale(0.95);
    transition: transform;
    transition-duration: 0.5s;
    box-shadow: 0 5px 15px -5px #00000070;
}

#home:hover {
    border-radius: 0.4em;
    background-color: #7386D5;
    color: white;
    transform: scale(0.95);
    transition: transform;
    transition-duration: 0.5s;
    box-shadow: 0 5px 15px -5px #00000070;
}

#queries:hover {
    border-radius: 0.4em;
    background-color: #7386D5;
    color: white;
    transform: scale(0.95);
    transition: transform;
    transition-duration: 0.5s;
    box-shadow: 0 5px 15px -5px #00000070;
}

.modal {
    backdrop-filter: blur(2.5px);
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: inherit;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

input[type="search"] {
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
}

.card {
    width: 21rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.card:hover {
    transform: scale(0.97);
    transition: all;
    transition-duration: 0.2s;
}

.ud {
    font-size: 1.2em;
    width: 100%;
    height: auto;
    letter-spacing: 0.1rem;
}

#text {
    font-family: "Berkshire Swash",sans-serif;
    font-size: 2.8em;
    font-weight: 200;
    color: #4c5892;
}

#terms {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

#count {
    position: absolute;
    top: -2%;
    left: 90%;
    z-index: 1;
}

#thumb {
    border-radius: 2em;
    font-size: 1.2em;
    box-shadow: 0 0 5px 2px #7386D5;
}

#hidden {
    display: none;
}

.card:hover #thumb{
    transform: translateX(-7em);
    width: 10em;
    transition: width 2s;
}

.card:hover #thumb #hidden {
    display: inline-block;
    font-size: 0.8em;
    padding-bottom: 0.4em;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
        position: absolute;
        height: 100%;
        z-index: 1;
        box-shadow: rgba(0, 0, 0, 0.25) 10px 0px 28px;
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
        background: white;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
        position: absolute;
        z-index: 2;
        max-width: 30px;
        max-height: 30px;
        left: 11.5em;
        top: 0.8em;
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
        position: absolute;
        z-index: 2;
        max-width: 30px;
        max-height: 30px;
        left: 11.5em;
        top: 0.8em;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
        position: absolute;
        z-index: 2;
        max-width: 30px;
        max-height: 30px;
        left: 11.5em;
        top: 0.8em;
    }
}

@media (min-width: 0px) and (max-width: 576px) {
    #location {
    border-right: 0;
    border-bottom: 1px solid black;
    }

    #home {
        text-align: center;
    }

    #about-us {
        text-align: center;
    }

    #queries {
        text-align: center;
    }

    #search {
        width: 100%;
    }

    #website-name {
        font-size: 1.1em;
        padding-left: 0.7em;
        font-family: Noto Serif, sans-serif;
        font-weight: 500;
        letter-spacing: 0.05em;
    }

    #text {
        font-family: "Berkshire Swash",sans-serif;
        font-size: 1.4em;
        font-weight: 200;
        color: #4c5892;
        margin-top: 0.7em;
    }

    .card {
        width: 20rem;
    }

    #about-us {
        border-bottom: 1px solid #adb5bd;
        border-radius: 0%;
    }
    
    #home {
        border-bottom: 1px solid #adb5bd;
        border-radius: 0%;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    #location {
        border-right: 0;
        border-bottom: 1px solid white;
    }
}

@media (min-width: 768px) and (max-width: 992px) {

}

@media (min-width: 992px) and (max-width: 1200px) {

}